In [1]:
import datetime
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
from prophet import Prophet
from prophet.plot import plot_plotly
import plotly.offline as py
py.init_notebook_mode()

ModuleNotFoundError: No module named 'prophet'

In [2]:
import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

In [19]:
file = 'Data\merged_data.csv'

df = pd.read_csv(file)

In [20]:
df.head()

,machineID,datetime,volt,rotate,pressure,vibration,errorID,failure,comp,model,age
0,1,1/1/2015 10:00,157.610021,435.376873,111.886648,25.990511,0,0,0,model3,18
1,1,1/1/2015 11:00,172.504839,430.323362,95.927042,35.655017,0,0,0,model3,18
2,1,1/1/2015 12:00,156.556031,499.071623,111.755684,42.753920,0,0,0,model3,18
3,1,1/1/2015 13:00,172.522781,409.624717,101.001083,35.482009,0,0,0,model3,18
4,1,1/1/2015 14:00,175.324524,398.648781,110.624360,45.482287,0,0,0,model3,18

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 876100 entries, 0 to 876099
Data columns (total 6 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   datetime   876100 non-null  object
 1   machineID  876100 non-null  int64
 2   volt       876100 non-null  float64
 3   rotate     876100 non-null  float64
 4   pressure   876100 non-null  float64
 5   vibration  876100 non-null  float64
dtypes: float64(4), int64(1), object(1)
memory usage: 40.1+ MB

In [6]:
df['datetime'] = pd.DatetimeIndex(df['datetime'])
df.dtypes

datetime     datetime64[ns]
machineID             int64
volt                float64
rotate              float64
pressure            float64
vibration           float64
dtype: object

In [32]:
df_new = pd.DataFrame(df.groupby(["errorID"], as_index=False)["machineID"].count())

df_new

  errorID  machineID
0       0     872484
1  error1        986
2  error2        732
3  error3        819
4  error4        723
5  error5        356